<div id="tela-inicial">
    <div id="hero-banner">
      <div id="bem-vindo">
        <h1>Bem Vindo ao <span class="logo">AvaliaProf</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, accusamus autem facilis numquam repellat quisquam dolores mollitia labore nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. In quos, dignissimos fuga laboriosam iure facilis ratione deserunt perferendis quod quia recusandae velit nostrum laborum? Quia vero illum quasi nemo rerum!</p>
        <button mat-button>Veja algumas Avaliações</button>
      </div>
    </div>
</div>
