<div class="nav-bar">
    <!-- LOGO -->
    <span>AvaliaProf</span>

    <!-- MENU -->
    <button class="nav-button" mat-button
            [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        Menu
    </button>

        <!-- OPÇÕES DO MENU -->
    <mat-menu #menu="matMenu">
        <button [routerLink]="['cadastrarprofessor']" 
                mat-menu-item>
            Cadastrar Professor
        </button>
        <button [routerLink]="['listarprofessores']" 
                mat-menu-item>
            Listar Professores
        </button>
        <button [routerLink]="['cadastraraluno']" 
                mat-menu-item>
            Cadastrar Aluno
        </button>
        <button [routerLink]="['listaralunos']" 
                mat-menu-item>
            Listar Alunos
        </button>
    </mat-menu>

    <!-- BARRA DE PESQUISA -->
    <form>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Pesquisar">
        </mat-form-field>
    </form>

    <!-- FAZER LOGIN -->
    <button class="nav-button" mat-button>
        Fazer Login
    </button>
</div>
