<div>
    <mat-card>
        <mat-card-header><mat-card-title>Cadastrar Professor</mat-card-title></mat-card-header>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Matrícula</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Disciplinas</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Formações</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-card>
</div>
