<div class="box">
    <mat-card class="container">
        <mat-card-header><mat-card-title class="titulo">Cadastrar Professor</mat-card-title></mat-card-header>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input class="input" matInput [(ngModel)]="professor.nome">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Matrícula</mat-label>
            <input class="input" matInput [(ngModel)]="professor.matricula">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input class="input" matInput type="email" [(ngModel)]="professor.email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input class="input" matInput type="password" [(ngModel)]="professor.senha">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Disciplinas</mat-label>
            <mat-select [(ngModel)]="professor.disciplinas" multiple>
                <mat-option class="input" [value]="disciplina" *ngFor="let disciplina of disciplinas">{{disciplina.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Formações</mat-label>
            <input class="input" matInput [(ngModel)]="professor.formacoes">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="manutenir()">Cadastrar</button>
    </mat-card>
</div>
